node_modules
test/report
npm-debug.log
test/coverage
.idea
.tern-port
.tern-project
# Ignore everything in the dst directory
dist/*
# But don't ignore p5.svg.js and test.js
!dist/p5.svg.js
!dist/test.js
test/unit/bundle.js
doc/reference
test/test.html
.DS_Store